{{template "header" .}}

    <div class=" grid place-items-center p-[16px] min-h-[calc(100dvh-52px)] ">
                <div class="w-full max-w-[793px] mx-auto">
                    <div class="w-full max-w-[647px] mx-auto mb-[49px]">
                        <h1 class="text-[28px] leading-[34px] font-bold text-[#202732] text-center mb-[52px]">Welcome,
                            how
                            can i help?</h1>
                        <div
                            class="rounded-[12px] border border-solid border-[#EEEEEE] p-[10px_10px_10px_20px] flex items-center h-[52px] gap-[20px]">
                            <input type="text" placeholder="Ask anything..."
                                class="text-sm leading-[20px] font-normal placeholder:text-[#3C485E] grow  outline-none">
                            <button class="min-w-[32px] cursor-pointer hover:opacity-90">
                                <img src="/public/img/send.svg" alt="send">
                            </button>
                        </div>
                    </div>

                    <div class="grid grid-cols-3 gap-[10px] md:gap-[20px]">
                        <a href=""
                            class="block rounded-[12px] md:rounded-[24px] border border-solid border-[#D9D9D9] p-[10px] md:p-[20px] hover:bg-[#4F607D]/2">
                            <div
                                class="rounded-[8px] w-[32px] h-[32px] border border-solid border-[#E5CCEE] flex items-center justify-center bg-white mb-[16px] md:mb-[20px]">
                                <img src="/public/img/ai-think.svg" alt="">
                            </div>

                            <p class="text-[12px] sm:text-[13px] leading-[20px] font-bold text-[#202732]">Your admin web
                                portal for
                                subscription management.</p>
                        </a>
                        <a href=""
                            class="block rounded-[12px] md:rounded-[24px] border border-solid border-[#D9D9D9] p-[10px] md:p-[20px] hover:bg-[#4F607D]/2">
                            <div
                                class="rounded-[8px] w-[32px] h-[32px] border border-solid border-[#E5CCEE] flex items-center justify-center bg-white mb-[16px] md:mb-[20px]">
                                <img src="/public/img/ai-think.svg" alt="">
                            </div>

                            <p class="text-[12px] sm:text-[13px] leading-[20px] font-bold text-[#202732]">Your admin web
                                portal for
                                subscription management.</p>
                        </a>
                        <a href=""
                            class="block rounded-[12px] md:rounded-[24px] border border-solid border-[#D9D9D9] p-[10px] md:p-[20px] hover:bg-[#4F607D]/2">
                            <div
                                class="rounded-[8px] w-[32px] h-[32px] border border-solid border-[#E5CCEE] flex items-center justify-center bg-white mb-[16px] md:mb-[20px]">
                                <img src="/public/img/ai-think.svg" alt="">
                            </div>

                            <p class="text-[12px] sm:text-[13px] leading-[20px] font-bold text-[#202732]">Your admin web
                                portal for
                                subscription management.</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>

 {{template "footer" .}}   