{{$Translate := .translate}}
{{template "header" .}}

       <div class="p-[32px_16px] xl:p-[35px_24px] min-h-[calc(100dvh-52px)] grid place-items-center ">
                <div class="w-full max-w-[551px]">
                    <h2 class="text-[24px] leading-[20px] font-bold text-[#202732] mb-[40px]">Security</h2>
                 <form action="/settings/updatepassword"id="passform" method="post" name="passform">
                      <input type="hidden" name="csrf" value="{{.csrf}}">
                      <input type="hidden" name="id" class="userid" value="{{.users.Id}}">
                    <div class="grid gap-[12px]">
                        <div>
                            <label class="text-sm leading-[17px] font-semibold text-[#202732] block mb-[8px]">Current
                                password</label>
                            <input type="text"  id="currentpass" name="currentpass" placeholder="Enter Current Password"
                                class="border transition-all duration-200 rounded-[8px] border-solid border-[#E0E4EB] h-[40px] block px-[16px] text-sm leading-[17px] font-normal placeholder:text-[#63789C] block w-full hover:outline-[4px] outline-[#f8ecfe] focus:border-[#704C9B] focus-visible:!border-[#E0E4EB]">
                               <label  class="current-pass-error hidden text-xs text-[#f26674] ">Current password is incorrect</label>
                            </div>


                        <div>
                            <label class="text-sm leading-[17px] font-semibold text-[#202732] block mb-[8px]">New Password</label>
                            <input type="text"  id="pass" name="pass" placeholder="{{$Translate.Security.Enternewpass}}"
                                class="border transition-all duration-200 rounded-[8px] border-solid border-[#E0E4EB] h-[40px] block px-[16px] text-sm leading-[17px] font-normal placeholder:text-[#63789C] block w-full hover:outline-[4px] outline-[#f8ecfe] focus:border-[#704C9B] focus-visible:!border-[#E0E4EB]">
                         <label  class="duplicate-pass-error hidden text-xs text-[#f26674]"> New password must be different from the old password</label>
                            </div>

                          <div>
                            <label class="text-sm leading-[17px] font-semibold text-[#202732] block mb-[8px]">Confirm Password</label>
                            <input type="text" id="cpass" name="cpass" placeholder="{{$Translate.Security.Confirmnewpass}}"
                                class="border transition-all duration-200 rounded-[8px] border-solid border-[#E0E4EB] h-[40px] block px-[16px] text-sm leading-[17px] font-normal placeholder:text-[#63789C] block w-full hover:outline-[4px] outline-[#f8ecfe] focus:border-[#704C9B] focus-visible:!border-[#E0E4EB]">
                        </div>
                    </div>


                    <div class="flex gap-[10px] items-center justify-end mt-[30px]">
                        <button type="button"
                            class="cancelbtn bg-[#F3F4F7] h-[40px] !px-[20px] rounded-[8px] text-base leading-[20px] font-medium text-[#202732] max-w-max cursor-pointer hover:border-[#704C9B] border border-solid border-transparent">Cancel</button>
                        <button type="button"
                            class="passsave dark-btn h-[40px] !px-[20px] rounded-[8px] text-base leading-[20px] font-medium text-[#FFFFFF] max-w-max cursor-pointer">Save</button>
                    </div>
                    </form>
                </div>
            </div>
        </section>
    </main>


 {{template "footer" .}}     

 <script src="/public/js/settings/changepassword.js"></script>